body {
    font-family: var(--font-principal);
    color: #333333;
    background-color: azure;
}

main {
    padding: 2.5rem 0;
    max-width: calc(100% - 140px);
    margin: 0 auto;
}

@media (max-width: 1200px) {
    main {
        padding: 0.625rem 0;
    }
}

.btn {
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;
    color: #ffffff;
    font-weight: 400;
    padding: 10px 20px;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;
}

.btn-filled {
    background-color: #ffffff;
    color: #6329A2;
} 

.btn:hover {
    background-color: #6329A2;
    color: #ffffff;
    transition: 0.3s;
}