.footer {
    background-color: #333333;
    color: #ffffff;
    width: 100%;
}

.footer-content {
    max-width: calc(100% - 8.75rem);
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-around;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-links {
    display: flex;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

.footer-links strong {
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
}

.footer-links li a {
    color: #ffffff;
}

.footer-links div {
    margin-right: 1.25rem;
}

.footer-links ul li a:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.newsletter-form input {
    color: #AAAAAA;
    padding: 0.75rem 1.25rem;
    width: 21.5rem;
    border-radius: 1.875rem;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.social-icons a img{
    width: 2rem;
    height: 2rem;
}

.social-icons a:hover img{
    opacity: 0.7;
    transition: 0.3s;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-copy {
    font: 1.25rem;
    text-align: center;
    padding: 1.25rem 0;
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-left form {
        display: flex;
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
        gap: 2rem;
    }

    .footer-social ul {
        gap: 1rem;
    }

    .footer-copy {
        font-size: 1rem;
        padding: 1.5rem 0 1.5rem;
    }
}