.header{
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 210px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.255rem 1.25rem;
}

.logo img {
    height: 50px;
}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
}

.nav-right ul{
    display: flex;
    gap: 2.5rem;
}

.nav-right img {
    height: 20px;
}

.nav-right a:hover img {
    opacity: 0.7;
    transition: 0.2s;
}

.nav-center a,
.nav-right a {
    color: #333333;
    font-size: 1.25rem;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c4aed;
    transition: 0.2s;
}