.header{
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 250px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.255rem 1.25rem;
}

.logo img {
    height: 50px;
}

.nav-center ul{
    display: flex;
    gap: 2.5rem;
}

.nav-right ul{
    display: flex;
    gap: 2.5rem;
}

.nav-right img {
    height: 20px;
    position: fixed;
    top: 25px;
}

.nav-right a:hover img {
    opacity: 0.7;
    transition: 0.2s;
}

.nav-center a,
.nav-right a {
    color: #333333;
    font-size: 1.25rem;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #7c4aed;
    transition: 0.2s;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0 1.25rem 0 10rem;
    width: 100%;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {   
    width: 3100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon:hover img {
    opacity: 0.7;
}

@media (max-width: 1380px){
    .header {
        width: cal(100% - 210px);
    }

    .menu-icon {
        display: block;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 180px;
        flex-direction: column;
        background-color: #ffffff;
        gap: 2rem;
        padding: 60px 30px 35px 0px;
        border-radius: 20px;
        transition: right 0.3s ease;
        align-items: flex-start;
    }

    .nav-center, .nav-right{
        width: 100%;
        text-align: center;
    }

    .nav-right img {
        position: relative;
        left: 40px;
    }

    .nav-center ul, .nav-right ul {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }

     .nav-center ul li, .nav-right ul li {
        width: 100%;
    }

    .nav-center a, .nav-right a {
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        padding: 0.3rem 0;
        font-size: 1rem;
    }

    .menu-toggle:checked ~ .nav-container {
        right: 0;
    }
}

@media (max-width: 768px) {
    .header {
        max-width: 342px;
        min-width: 320px;
    }
}